
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  min-wdith: 460px;
}

input[type=radio]:checked {
  display: none;
  + label {
    color: green;
    img {
      content: url("../img/Selector - Single Selected 2 Copy.png");

    }
  }
}

.radio-image {
  width: 25%;
  float: left;
  vertical-align: middle;
}

.input-label {
  width: 70%;
  padding: 8px;
  float: right;
  vertical-align: middle;

}

.row::after {
  content: "";
  clear: both;
  display: block;
}

.form-row {
  margin-top: 15px;
  vertical-align: middle;
}

[class*="col-"] {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

@media all and (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}

@media all and (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}

@media all and (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}

a {
  color: #00B7FF;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../img/landing-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#select-restaurant {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#selectRestaurant {
  text-align: center;
}

.list-box:first-child {
  margin-top: 10px;
}

.list-box {
  padding: 10px 15px 30px 15px;
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid #FFF;
  border-radius: 6px;
  margin-top: 20px;
  ol {
    padding: 0px;
    margin: 0px;
  }
  > header {
    padding: 0px 0px 17px 0px;
    border-bottom: 1px solid #406840;
    font-family: Sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #406840;
    margin-bottom: 8px;
  }
  .item {
    padding-top: 17px;
    margin: 0px;
    font-family: Sans-serif;
    font-size: 18px;
    list-style-type: none;
    .item-title {
      color: #c62c02;
      text-align: left;
      float: left;
      width: 80%;
    }
    .item-price {
      color: black;
      text-align: right;
      float: right;
      width: 20%;
    }
    .item-detail {
      font-size: 15px;
      color: #536a1f;
      width: 80%;
    }
    p {
      margin: 0px;
    }
  }
}

.container {
  vertical-align: top;
  .container-content {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 60px 105px 60px;
    border-radius: 0px 0px 12px 12px;
    border: 2px solid #6d8047;
    border-top: 0px;
  }
  .container-header {
    background-color: white;
    padding: 20px 60px 10px 60px;
    border: 2px solid #6d8047;
    border-bottom: 1px solid #979797;
    border-radius: 12px 12px 0px 0px;

    .container-logo {
      height: 55px;
    }

    .container-sub-header {
      font-size: 28px;
      font-family: 'Work Sans', sans-serif;
      padding-left: 5px;
      padding-right: 5px;
      color: #536a1f;
    }

    .container-header-link {
      font-size: 13px;
      font-family: 'Work Sans', sans-serif;
      padding-left: 5px;
      padding-right: 5px;
      color: #c62c02;
    }
  }
}

.center {
  text-align: center;
}

.centered-title-test {
  @extend .center;
  font-family: Sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #406840;
}

ul.button-list {
  padding: 0px;
  li {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px dashed #757575;
    list-style-type: none;
    text-align: left;
    color: #c62c02;
    font-size: 17px;
    font-family: 'Work Sans', sans-serif;
  }
  li:last-child {
    border-bottom: 0px;
  }
  a, a:visited, a:hover {
    @extend li;
    text-decoration: none;

    display: block;
  }
  .list-image {
    width: 5%;
    display: inline-block;
  }
  .branch {
    width: 95%;
    display: inline-block;
  }
  .container-content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 60px 60px 60px;
    border-radius: 0px 0px 12px 12px;
    border: 2px solid #6d8047;
    border-top: 0px;
  }
}

.container {
  .order-container {
    width: 40%;
    float: right;
    border-radius: 0px;
    border-top-right-radius: 12px;
    border: 2px solid #6d8047;
    border-left: 0px;
    background-color: rgba(255, 255, 255, .98);
    padding: 20px 15px 105px 30px;

    .close {
      color: #c62c02;
      float: right;
      font-size: 28px;
      font-family: 'Work Sans', sans-serif;
      font-weight: bold;
      padding: 10px;
      cursor: pointer;
      display: none;
    }
    h3 {
      font-size: 24px;
      color: #406840;
      font-family: 'Work Sans', sans-serif;
      font-weight: bold;
      padding-bottom: 30px;
    }
  }
  .menu {
    width: 60%;
    float: left;
  }
}

.basket {
  display: none;
  cursor: pointer;
}

@media all and (max-width: 992px) {
  body {
    margin: 0px;
  }
  .container {
    .order-container {
      .close {
        display: block;
      }
      display: none;
      padding: 10px;
      border-radius: 0;
      border: 0;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      min-width: 60%;
      transition: all .4s;
      float: right;
      z-index: 100
    }
  }
  .container {
    .menu {
      width: 100%;
    }
  }
  .basket {
    float: right;
    display: inline-block;
  }
}

.label {
  width: 40%;
  float: left;
  padding: 5px;
}

.input {
  width: 60%;
  float: right;
}

@media all and (max-width: 700px) {
  .container {
    border: 0px;
    padding: 0px;
    .container-content {
      padding: 15px;
      border: 0px;
      border-radius: 0px;
      background-color: transparent;

    }
    .container-header {
      padding: 15px;
      border: 0px;
      border-radius: 0px;
    }
    .order-container {
      .close {
        display: block;
      }
      display: none;
      padding: 10px;
      padding: 0px;
      border-radius: 0px;
      border: 0px;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      min-width: 100%;
      transition: all .4s;
      z-index: 100
    }
  }
}

@media all and (min-width: 992px) {
  .container {
    .order-container {
      display: block !important;
    }
    .container-header {
      border-top-right-radius: 0px;
    }
  }
}

.order-form {
  max-width: 640px;
  margin: 0 auto;
  box-sizing: border-box;

  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  padding: 15px;
  font: bold 14px sans-serif;
}

.order-form .form-row {
  text-align: left;
  margin-bottom: 22px;
}

.order-form .form-title-row {
  margin-bottom: 5px;
}

.order-form h3 {
  display: inline-block;
  box-sizing: border-box;
  color: #4c565e;
  font-size: 24px;
  padding: 15px 0px 10px 15px;
  margin: 0;
}

.order-form .form-row > label {
  vertical-align: middle;
  span {
    display: inline-block;
    box-sizing: border-box;
    color: #5F5F5F;
    width: 45%;
    text-align: right;
    vertical-align: top;
    padding: 12px 25px;
  }
}

.order-form {
  input {
    color: #5f5f5f;
    height: 33px;
    box-sizing: border-box;
    with: 50%;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px;
    border: 1px solid #dbdbdb;
  }
  input[type=radio],
  input[type=checkbox] {
    display: none;
    box-shadow: none;
    width: auto;
    + img {
      content: url("../img/Selector - Single Unselected 3 Copy.png");
    }
  }

  input[type=radio]:checked,
  input[type=checkbox]:checked {
    + img {
      content: url("../img/Selector - Single Selected 2 Copy.png");
    }
  }

  input[type=checkbox] {
    margin-top: 13px;
  }

  select {
    background-color: #ffffff;
    color: #5f5f5f;
    box-sizing: border-box;
    max-width: 240px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding-left: 5px;
    border: 1px solid #dbdbdb;
    height: 33px;
    width: 50%;
  }

  textarea {
    color: #5f5f5f;
    box-sizing: border-box;
    width: 240px;
    height: 80px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    font: normal 13px sans-serif;
    padding: 12px;
    border: 1px solid #dbdbdb;
    resize: vertical;
  }

  .form-radio-buttons {
    display: inline-block;
    vertical-align: middle;
  }

  .form-radio-buttons {
    > div {
      margin-top: 10px;
    }
  }

  .form-radio-buttons {
    label {
      span {
        margin-left: 8px;
        color: #5f5f5f;
        font-weight: normal;
        vertical-align: 8px;
      }
    }
  }

  .form-radio-buttons {
    input {
      width: auto;
    }
  }
}

.default-button, .order-form button {
  display: block;
  border-radius: 2px;
  height: 35px;
  background-color: #4567ff;
  color: #ffffff;
  font-weight: bold;
  width: 40%;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  margin-left: auto;
}

/*	Making the form responsive. Remove this gi query
    if you don't need the form to work on mobile devices. */

@media all and (max-width: 600px) {

  .order-form {
    padding: 30px;
    max-width: 480px;
  }

  .order-form .form-row {
    max-width: 300px;
    margin: 25px auto;
    text-align: left;
  }

  .order-form .form-title-row {
    margin-bottom: 50px;
  }

  .order-form .form-row > label span {
    display: block;
    text-align: left;
    padding: 0 0 15px;
  }

  .order-form select {
    width: 240px;
  }

  .order-form input[type=checkbox] {
    margin-top: 0;
  }

  .order-form .form-radio-buttons > div {
    margin: 0 0 10px;
  }

  .order-form button {
    margin: 0;
  }
}

details summary::-webkit-details-marker {
  display: none;
}

details > summary {
  cursor: pointer;
}

details[open] > summary > p:first-of-type {
  padding-top: 10px;
  border-top: 1px solid #406840;
}

details > summary {
  outline: none;
}

.plus-minus-btns {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  font-size: 26px;
  background-color: #4567ff;
  color: white;
}

.item-amount {
  width: 25%;
  height: 35px;
  text-align: center;
}

