
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  width: 100%;
}

a {
  color: #00B7FF;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../img/landing-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#select-restaurant {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media(min-width: 800px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

@media(min-width: 800px) {
  .col-1-offset {
    margin-left: 8.33%;
  }
  .col-2-offset {
    margin-left: 16.66%;
  }
  .col-3-offset {
    margin-left: 25%;
  }
  .col-4-offset {
    margin-left: 33.33%;
  }
  .col-5-offset {
    margin-left: 41.66%;
  }
  .col-6-offset {
    margin-left: 50%;
  }
  .col-7-offset {
    margin-left: 58.33%;
  }
  .col-8-offset {
    margin-left: 66.66%;
  }
  .col-9-offset {
    margin-left: 75%;
  }
  .col-10-offset {
    margin-left: 83.33%;
  }
  .col-11-offset {
    margin-left: 91.66%;
  }
  .col-12-offset {
    margin-left: 100%;
  }
}

#selectRestaurant {
  text-align: center;
}


.list-box:first-child {
  margin-top:10px;
}
.list-box {
  padding: 10px 15px 30px 15px;
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid #FFF;
  border-radius: 6px;
  margin-top:20px;
  ol {
    padding: 0px;
    margin: 0px;
  }
  > header {
    padding: 0px 0px 17px 0px;
    border-bottom: 1px solid #406840;
    font-family: Sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #406840;
    margin-bottom: 8px;
  }
  .item {
    padding-top: 17px;
    margin: 0px;
    font-family: Sans-serif;
    font-size: 18px;
    list-style-type: none;
    .item-title {
      color: #c62c02;
      text-align: left;
      float: left;
      width: 80%;
    }
    .item-price {
      color: black;
      text-align: right;
      float: right;
      width: 20%;
    }
    .item-detail {
      font-size: 15px;
      color: #536a1f;
      test-align: left;
    }
    p {
      margin: 0px;
    }
  }
}

.container {
  .container-content {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 60px 105px 60px;
    border-radius: 0px 0px 12px 12px;
    border: 2px solid #6d8047;
    border-top:0px;
  }
  .container-header {
    background-color: white;
    padding: 20px 60px 10px 60px;
    border: 2px solid #6d8047;
    border-bottom: 1px solid #979797;
    border-radius: 12px 12px 0px 0px;

    .container-logo {
      height: 55px;
    }

    .container-sub-header{
      font-size: 28px;
      font-family: 'Work Sans', sans-serif;
      padding-left: 5px;
      padding-right: 5px;
      color: #536a1f;
    }

    .container-header-link{
      font-size: 13px;
      font-family: 'Work Sans', sans-serif;
      padding-left: 5px;
      padding-right: 5px;
      color: #c62c02;
    }
  }
}

.center{
  text-align: center;
}

.centered-title-test{
  @extend .center;
  font-family: Sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #406840;
}

ul.button-list {
  padding:0px;
  li{
    padding:10px 0px 10px 0px;
    border-bottom: 1px dashed #757575;
    list-style-type: none;
    text-align: left;
    color: #c62c02;
    font-size: 17px;
    font-family: 'Work Sans', sans-serif;
  }
  li:last-child {
    border-bottom: 0px;
  }
  a, a:visited, a:hover{
    @extend li;
    text-decoration: none;

    display: block;
  }
  .list-image{
    width:5%;
    display: inline-block;
  }
  .branch{
    width:95%;
    display: inline-block;
  }
  .container-content{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 60px 60px 60px;
    border-radius: 0px 0px 12px 12px;
    border: 2px solid #6d8047;
    border-top:0px;
  }
}

details summary::-webkit-details-marker { display:none; }

details>summary { cursor: pointer; }

details[open]>summary>p:first-of-type {
  padding-top: 10px;
  border-top: 1px solid #406840;
}

details>summary {
  outline:none;
}