body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.landing-page-body {
	background-image: url("../img/landing-bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#select-restaurant {
	background: rgba(255, 255, 255, 0.85);
	border: 2px solid #6D8047;
	border-radius: 6px;

	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
